<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Amazeriffic</title>
    </head>
</html>
<body>
    <header>
    <h1>Amazeriffic</h1>
    <nav>
        <a href="#">Sign Up!</a> |
        <td><%= link_to 'FAQ', pages_faq_path %></td> |
        <a href="#">Support</a> |
    </nav>
    <h2>Amazeriffic will change your life!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra ante nec lacus elementum placerat. Donec sit amet dolor gravida, suscipit leo quis, sollicitudin urna. Suspendisse et aliquam magna, sed vestibulum purus. Nulla pretium ex </p>
    <h3>Here's why you need Amazeriffic</h3>
    <ul>
        <li>It fits your lifesytle</li>
        <li>It's awesome</li>
        <li>It rocks your world</li>
    </ul>
    <img alt="image of lightbulb" src="https://s3.amazonaws.com/amazeriffi/lightbulb.jpg">
    </header>
    
    <main>
    </main>
    
    <footer>
        <div class="contact">
            <h5>Contact Us</h5>
            <p>Amazeriffic</p>
            <p>555 Valley St</p>
            <p>New Haven, CT 06515</p>
        </div>
        
        <div class="sitemap">
            <h5>Sitemap</h5>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>